.homeContainer{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #333;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    margin: 150px auto;
}

.homeSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90%;
}

.buttonContainer{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.button{
    border: none;
    border: 1px solid #222;
    border-radius: 5px;
    background-color: transparent;
    height: 35px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttonTrue{
    background-color: #48e;
    border: none;
    border: 1px solid #48e;
    border-radius: 5px;
    height: 35px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover{
    transform: translateY(-2px);
    opacity: 0.66;
}
