.imagen{
    width: 600px;
    height: 600px;
    transition: all 0.5s ease;
    object-fit: cover;
}

.imagen:first-child{
    width: 300px;
}

.imagen:hover{
    transform: translateY(30px) ;
}

.contenedor{
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}