.aboutContainer{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 500px;
    height: 400px;
    margin: 100px auto;
    align-items: center;
    justify-content: space-around;
}


.buttonContainer{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.button{
    border: none;
    height: 35px;
    min-width: 100px;
    border-radius: 10px;
    color: #fff;
    background-color: #48e;
    font-size: 1rem;
    transition: all 0.2s ease;
}

.button:hover{
    transform: translateY(-1px);
    opacity: 0.78;
}